<div class="header">
    <!-- <h5>{{ selectedItem }} component</h5> -->
</div>
<div class="content" id="Faculty" *ngIf="selectedItem === 'Faculty'">
    <app-faculty-details></app-faculty-details>
</div>
<div class="content" id="Card" *ngIf="selectedItem === 'Card'">
</div>
<div class="content" id="ExpansionPanel" *ngIf="selectedItem === 'ExpansionPanel'">
</div>
<div class="content" id="GridLayout" *ngIf="selectedItem === 'GridLayout'">
</div>
<div class="content" id="PanelBar" *ngIf="selectedItem === 'PanelBar'">
</div>
<div class="content" id="Splitter" *ngIf="selectedItem === 'Splitter'">
</div>
<div class="content" id="StackLayout" *ngIf="selectedItem === 'StackLayout'">
</div>
<div class="content" id="Stepper" *ngIf="selectedItem === 'Stepper'">
</div>
<div class="content" id="TabStrip" *ngIf="selectedItem === 'TabStrip'">
</div>
<div class="content" id="TileLayout" *ngIf="selectedItem === 'TileLayout'">
</div>