<!-- <input #chkToggle type="checkbox" name="toggle" id="toggle">
<label for="toggle"></label> -->
<div class="card" style="box-shadow: 0 2px 5px 0 rgb(47 73 167 / 35%), 0 2px 10px 0 rgb(0 161 255 / 50%);">
    <div class="card-body">
            <h5 class="card-title">Faculty Details</h5>
                <div class="formAdd">
                    <form autocomplete="off" #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)">
                        <!-- <div class="container"> -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <input type="hidden" name="id" [value]="facService.facultyData.id">
                                    <label for="name" class="float-left">Name</label>
                                    <div *ngIf="name.invalid && (name.touched || name.dirty)" class="float-right">
                                        <p class="text-danger">Required</p>
                                    </div>
                                    <input type="text" name="name" class="form-control" placeholder="Enter name" #name="ngModel" [(ngModel)]="facService.facultyData.name" required>
                                </div>
                                <div class="col-sm-4">
                                        <label for="email" class="float-left">Email</label>
                                        <div *ngIf="email.invalid && (email.touched || email.dirty)" class="float-right">
                                            <p class="text-danger">Required</p>
                                        </div>
                                        <input type="text" name="email" class="form-control" placeholder="Enter email" #email="ngModel" [(ngModel)]="facService.facultyData.email" required>
                                </div>
                                <div class="col-sm-4">
                                        <label for="mobile" class="float-left">Mobile</label>
                                        <div *ngIf="mobile.invalid && (mobile.touched || mobile.dirty)" class="float-right">
                                            <p class="text-danger">Required</p>
                                        </div>
                                        <input type="text" name="mobile" class="form-control" placeholder="Enter mobile" #mobile="ngModel" [(ngModel)]="facService.facultyData.mobile" required>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                    <div class="col-sm-4">
                                        <label for="age" class="float-left">Age</label>
                                        <div *ngIf="age.invalid && (age.touched || age.dirty)" class="float-right">
                                            <p class="text-danger">Required</p>
                                        </div>
                                        <input type="text" name="age" class="form-control" placeholder="Enter age" #age="ngModel" [(ngModel)]="facService.facultyData.age" required>
                                    </div>
            
                                    <!--<div class="col-sm-3">
                                            <label for="gender">Gender</label>
                                            <input type="text" name="gender" class="form-control" placeholder="Enter gender" #gender="ngModel" [(ngModel)]="facService.facultyData.gender" required>
                                    </div>-->
            
                                    <div class="col-sm-4">
                                            <label for="gender">Gender</label>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                        <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="facService.facultyData.gender" value="M">Male
                                                        </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="facService.facultyData.gender" value="F">Female
                                                        </label>
                                                        </div>
                                                </div>
                                            </div>
                                    </div>
            
                                    <div class="col-sm-4">
                                            <label for="deptName" class="float-left">Department</label>
                                            <div *ngIf="deptId.touched && deptId.value==0" class="float-right">
                                                <p class="text-danger">Required</p>
                                            </div>
                                            <select class="form-control" name="deptId" #deptId="ngModel" [(ngModel)]="facService.facultyData.deptId" required>
                                                <!--<option value="0">Please Select</option>-->
                                                <option [value]="dept.id" *ngFor="let dept of facService.listDepartment">{{dept.deptName}}</option>
                                            </select>
                                    </div>
                                </div>
            <br>
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4" style="text-align: center;">
                                        <button kendoButton  themeColor="primary" [toggleable]="true" type="submit" [disabled]="deptId.value==0" style="width: 200px;">Save</button>
                                        <!-- <button type="submit" [disabled]="deptId.value==0" class="btn btn-success" style="width: 200px;">Save</button> -->
                                    </div>
                                    <div class="col-sm-2">
                                            <!-- <button type="reset" class="btn btn-danger">Clear</button> -->
                                    </div>
                                </div>
                        <!-- </div> -->
                    </form>
            </div>
    </div>
  </div>
<!-- <div class="container">
    
</div> -->